body {
    height: 90vh;
    background-color: var(--background-grey);
}

main {
    width: 100%;
    height: 100%;
}

#main-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-buttons {
    display: flex;
    gap: 30px;
}

.button {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button a {
    text-decoration: none;
    color: black;
    font-size: var(--subtitle-font-size);
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.button a:hover {
    color: var(--default-green);
}

.button img {
    width: 30px;
    height: 30px;
}